<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>image ocr test</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>-->
</head>
<body>
<div class="page-header">
    <h1>Image ocr test page
        <small>power by tairanchina</small>
    </h1>
</div>
<div width="50%">
    <div>

        <form role="form" action='file' enctype="multipart/form-data" method='post'>
            <p> chose image file</p>
            <div class="form-group">
                <input type='file' name='file'/><br/>
            </div>
            <p>token</p>
            <input size="20" type='text' name='token' value="IM9AWGE2OFTCR16@2121"/>
            <p>areaCode</p>
            <select class="form-control" name="areaNumber">
                <option value="0">默认</option>
                <option value="130200">唐山</option>
                <option value="340100">合肥</option>
                <option value="pbccrc">央行</option>
                <option value="500000">重庆</option>
                <option value="410100">郑州</option>
                <option value="320500">苏州</option>
                <option value="650100">乌鲁木齐</option>
                <option value="110000">北京</option>
                <option value="650100">肇庆（开发中）</option>
            </select>
            <br/>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
    <div>
        <h4>城市列表</h4>
        <dl class="dl-horizontal">
            <dt>hebei-唐山</dt>
            <dd>130200</dd>
            <dt>AnHui-合肥</dt>
            <dd>340100</dd>
            <dt>央行征信</dt>
            <dd>pbccrc</dd>
            <dt>重庆[优化]</dt>
            <dd>500000</dd>
            <dt>郑州</dt>
            <dd>410100</dd>
            <dt>苏州</dt>
            <dd>320500</dd>
            <dt>乌鲁木齐</dt>
            <dd>650100</dd>
             <dt>北京</dt>
            <dd>110000</dd>
        </dl>
        <h4>验证码识别不出城市</h4>
        <dl class="dl-horizontal">
            <dt>成都</dt>
            <dd>目前用户识别</dd>
        </dl>

    </div>
</div>
</body>
</html>